#textdomain wesnoth-Elf_War

#define ABILITY_PROTECTION
    [resistance]
        id=protection
        add=20
        max_value=50
        #apply_to=blade,pierce,impact,fire,cold,arcane
        name= _ "protection"
        description= _ "Protection:
Adjacent units of this side receive a +20% bonus to all resistances (up to a maximum of 50%)."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/resistance]
#enddef
