#textdomain wesnoth-Elf_War

{ELF_WAR_SCENARIO 9_Doomed_Land 10_Last_Orc_Stand (_"Doomed Land") no}
{ELF_WAR_MAP Doomed_Land}

{SCENARIO_MUSIC "vengeful.ogg"}
{DEFAULT_SCHEDULE}
{TURNS 35 32 30}
{SAVE_AND_LOAD_SIDE}

{~add-ons/Elf_War/utils/deaths.cfg}

[story]
    [part]
        show_title=yes
        background=maps/northlands.png
    [/part]
[/story]

[event]
    name=prestart
    [objectives]
        side=0
        [objective]
            description= _ "Kill Ubruk"
            condition=win
        [/objective]
        [objective]
            description= _ "Death of Kelmi"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Rewny"
            condition=lose
        [/objective]
        {TURNS_RUN_OUT}
        [gold_carryover]
            bonus=yes
            carryover_percentage=40
        [/gold_carryover]
    [/objectives]

    [recall]
        id=Tamora
        x=6
        y=61
        show=yes
    [/recall]
    [recall]
        id=Elrion
        x=16
        y=61
        show=yes
    [/recall]

    [capture_village]
        x=2
        y=63
        side=1
    [/capture_village]

    [capture_village]
        x=9
        y=64
        side=1
    [/capture_village]

    [capture_village]
        x=13
        y=64
        side=2
    [/capture_village]

    [capture_village]
        x=19
        y=63
        side=2
    [/capture_village]

    [capture_village]
        x=5
        y=44
        side=3
    [/capture_village]

    [capture_village]
        x=6
        y=47
        side=3
    [/capture_village]

    [capture_village]
        x=11
        y=43
        side=3
    [/capture_village]

    [capture_village]
        x=14
        y=46
        side=3
    [/capture_village]

    [capture_village]
        x=15
        y=50
        side=3
    [/capture_village]

    [capture_village]
        x=12
        y=5
        side=4
    [/capture_village]

    [capture_village]
        x=16
        y=11
        side=4
    [/capture_village]

    [capture_village]
        x=7
        y=12
        side=4
    [/capture_village]
[/event]

[event]
    name=start

    [message]
        speaker=narrator
        message= _ "Urbuk managed to escape the battlefield at the last second. He is now hidden somewhere on this island."
        image=wesnoth-icon.png
    [/message]
    [message]
        id=Rewny
        message= _ "Let us finish this job."
    [/message]
    [message]
        id=Kelmi
        message= _ "He must be hidden somwhere here..."
    [/message]
    [message]
        id=Urbuk
        message= _ "Stupid elves...If they think they can kill me they are totally wrong! Klope you know what to do!"
    [/message]
    [message]
        id=Klope
        message= _ "Yes my lord..."
    [/message]

    [unit]
        type=Troll
        x=9
        y=8
        side=4
        generate_name=yes
        ai_special=guardian
    [/unit]

    [unit]
        type=Troll
        x=9
        y=10
        side=4
        generate_name=yes
        ai_special=guardian
    [/unit]

    [unit]
        type=Troll
        x=11
        y=11
        side=4
        generate_name=yes
        ai_special=guardian
    [/unit]

    [unit]
        type=Troll
        x=11
        y=7
        side=4
        generate_name=yes
        ai_special=guardian
    [/unit]

    [unit]
        type=Troll
        x=13
        y=7
        side=4
        generate_name=yes
        ai_special=guardian
    [/unit]

    [unit]
        type=Troll
        x=14
        y=8
        side=4
        generate_name=yes
        ai_special=guardian
    [/unit]

    [unit]
        type=Troll
        x=14
        y=10
        side=4
        generate_name=yes
        ai_special=guardian
    [/unit]

    [set_variable]
        name=klope
        value=alive
    [/set_variable]
[/event]

[event]
    name=last breath

    [filter]
        id=Urbuk
    [/filter]

    [message]
        speaker=unit
        message= _ "Arrrrrrrgh... Accursed elves! Our plans for destroying the dwarves are foiled."
    [/message]
    [message]
        id=Rewny
        message= _ "We have found Urbuk's orders. It seems that the attack on the dwarvish capital was masterminded by an orc called Kruksu."
    [/message]
    [message]
        speaker=Kelmi
        message= _ "Interesting, the orc survivors talk of him like he is a very important orc."
    [/message]
    [message]
        speaker=Rewny
        message= _ "Surely so. Our scouts have reported a big encampment on an island to the east. It is certain Kruksu lives there; let us visit him."
    [/message]
    [endlevel]
        result=victory
        bonus=yes
        {NEW_GOLD_CARRYOVER 40}
    [/endlevel]
[/event]

[event]
    name=last breath

    [filter]
        id=Klope
    [/filter]

    [message]
        speaker=Klope
        message= _ "I have failed..."
    [/message]
    [set_variable]
        name=klope
        value=dead
    [/set_variable]
[/event]

[event]
    name=new turn
    first_time_only=no

    [if]
        [variable]
            name=klope
            equals=dead
        [/variable]
        [then]
            [unit]
                type=Gryphon Rider
                #id=Uligon
                random_traits=yes
                generate_name=yes
                side=1
                x=20
                y=43
            [/unit]

            [unit]
                type=Gryphon Rider
                random_traits=yes
                generate_name=yes
                side=1
                x=20
                y=44
            [/unit]

            [unit]
                type=Gryphon Rider
                random_traits=yes
                generate_name=yes
                side=1
                x=1
                y=40
            [/unit]

            [unit]
                type=Gryphon Rider
                random_traits=yes
                generate_name=yes
                side=1
                x=1
                y=41
            [/unit]

            [unit]
                type=Gryphon Rider
                random_traits=yes
                generate_name=yes
                side=2
                x=19
                y=43
            [/unit]

            [unit]
                type=Gryphon Rider
                random_traits=yes
                generate_name=yes
                side=2
                x=19
                y=44
            [/unit]

            [unit]
                type=Gryphon Rider
                random_traits=yes
                generate_name=yes
                side=2
                x=2
                y=40
            [/unit]

            [unit]
                type=Gryphon Rider
                random_traits=yes
                generate_name=yes
                side=2
                x=2
                y=39
            [/unit]

            [message]
                #speaker=Uligon
                x=20
                y=43
                message= _ "Riko sent us to help. What should we do, master elves?"
            [/message]
            [message]
                speaker=Kelmi
                message= _ "Welcome! Kill those Cockatrices in order to let our army continue..."
            [/message]
            [message]
                #speaker=Uligon
                x=20
                y=43
                message= _ "All right, charge!"
            [/message]
            [set_variable]
                name=klope
                value=unimportant
            [/set_variable]
        [/then]
    [/if]

    {CLEAR_VARIABLE klope}
[/event]

[side]
    type=Elvish Avenger
    id=Kelmi
    side=1
    canrecruit=yes
    controller=human
    recruit=Elvish Scout,Elvish Archer,Elvish Shaman,Mage,Dwarvish Thunderer,Dwarvish Guardsman,Gryphon Rider,Footpad,Poacher,Dwarvish Ulfserker
    save_id=archers
    team_name="elves and dwarves"
    user_team_name= _ "Elves and Dwarves"
    fog=yes
    shroud=yes
    team_lock=yes
    gold_lock=no
    income_lock=yes
    share_maps="yes"
    share_view="yes"
    {GOLD 180 150 120}
    {INCOME 6 3 0}
[/side]

[side]
    type=Elvish Marshal
    id=Rewny
    side=2
    controller=human
    canrecruit=yes
    recruit=Elvish Scout,Elvish Fighter,Elvish Shaman,Wose,Dwarvish Fighter,Dwarvish Scout,Gryphon Rider,Thief,Thug,Dwarvish Ulfserker
    save_id=fighters
    team_name="elves and dwarves"
    user_team_name= _ "Elves and Dwarves"
    fog=yes
    shroud=yes
    team_lock=yes
    gold_lock=no
    income_lock=yes
    share_maps="yes"
    share_view="yes"
    {GOLD 180 150 120}
    {INCOME 6 3 0}
[/side]

[side]
    #type=Novice Orcish Shaman
    type=Goblin Rouser
    id=Klope
    name= _ "Klope"
    [ai]
        #keep leader from charging out in battle
        passive_leader=yes
    [/ai]
    side=3
    controller=ai
    allow_player=no
    canrecruit=yes
    recruit=Giant Spider,Mudcrawler,Goblin Spearman
    team_name=orcs
    user_team_name= _ "Orcs"
    disallow_observers=yes
    {GOLD 100 150 200}
    {INCOME 3 5 7}

    [unit]
        type=Watch Tower
        x,y=4,45
    [/unit]

    [unit]
        type=Watch Tower
        x,y=9,49
    [/unit]

    [unit]
        type=Watch Tower
        x,y=9,45
    [/unit]

    [unit]
        type=Watch Tower
        x,y=12,43
    [/unit]

    [unit]
        type=Watch Tower
        x,y=14,50
    [/unit]
[/side]

[side]
    type=Great Troll
    id=Urbuk
    name= _ "Urbuk"
    [ai]
        passive_leader=yes
    [/ai]
    side=4
    controller=ai
    allow_player=no
    canrecruit=yes
    recruit=Saurian Ambusher,Orcish Slayer,Orcish Warrior,Goblin Pillager,Orcish Crossbowman,Troll,Troll Rocklobber
    team_name=orcs
    user_team_name= _ "Orcs"
    disallow_observers=yes
    {GOLD 350 450 550}
    {INCOME 15 25 35}

    [unit]
        type=Watch Tower
        x,y=15,13
    [/unit]

    [unit]
        type=Watch Tower
        x,y=9,13
    [/unit]

    [unit]
        type=Watch Tower
        x,y=11,10
    [/unit]

    [unit]
        type=Watch Tower
        x,y=13,10
    [/unit]

    [unit]
        type=Watch Tower
        x,y=14,5
    [/unit]

    [unit]
        type=Watch Tower
        x,y=10,5
    [/unit]

    [unit]
        type=Watch Tower
        x,y=7,9
    [/unit]

    [unit]
        type=Watch Tower
        x,y=16,9
    [/unit]
[/side]

[side]
    type=Saurian Flanker
    generate_name=yes
    side=5
    controller=ai
    allow_player=no
    canrecruit=yes
    recruit=Saurian Ambusher,Saurian Soothsayer,Saurian Oracle,Cuttle Fish
    team_name=orcs
    user_team_name= _ "Saurians"
    disallow_observers=yes
    {GOLD 200 300 400}
    {INCOME 5 10 20}
    [unit]
        type=Cockatrice
        x,y=5,39
        ai_special=guardian
    [/unit]

    [unit]
        type=Cockatrice
        x,y=13,35
        ai_special=guardian
    [/unit]

    [unit]
        type=Cockatrice
        x,y=11,37
        ai_special=guardian
    [/unit]
[/side]

#ifdef MULTIPLAYER
[/multiplayer]
#else
[/scenario]
#endif
