#textdomain wesnoth-Elf_War

{ELF_WAR_SCENARIO 2_The_Battle_of_Vesna_Valley 3_Inside_the_Mountain (_"The Battle of Vesna Valley") no}
{ELF_WAR_MAP Slaying_Dwarves}

{SCENARIO_MUSIC "gameplay06.ogg"}
{DEFAULT_SCHEDULE_DUSK}
{TURNS 28 24 20}
{SAVE_AND_LOAD_SIDE}

{~add-ons/Elf_War/utils/deaths.cfg}

[story]
    [part]
        show_title=yes
        background=maps/northlands.png
    [/part]
[/story]

[event]
    name=prestart
    [objectives]
        side=0
        [objective]
            description= _ "Kill all Dwarvish leaders AND let live at least 1 dwarf"
            condition=win
        [/objective]
        [objective]
            description= _ "Death of Kelmi"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Rewny"
            condition=lose
        [/objective]
        {TURNS_RUN_OUT}
        [gold_carryover]
            bonus=yes
            carryover_percentage=40
        [/gold_carryover]
    [/objectives]

    [recall]
        id=Tamora
        x,y=17,6
    [/recall]
    [recall]
        id=Elrion
        x,y=21,6
    [/recall]

    {R_UNIT (Dwarvish Thunderer) 3 8 12 moves=0}
    {R_UNIT (Dwarvish Guardsman) 3 9 13 moves=0}
    {R_UNIT (Dwarvish Fighter) 3 10 13 moves=0}
[/event]

{STARTING_VILLAGES 2 7}
{STARTING_VILLAGES 3 8}
{STARTING_VILLAGES 4 11}
{STARTING_VILLAGES_AREA 3 20 15 1}
{STARTING_VILLAGES_AREA 1 16 7 3}
{STARTING_VILLAGES_AREA 1 14 3 1}

[side]
    side=1
    controller=human
    persistent=yes
    id=Kelmi
    save_id=archers
    name= _ "Kelmi"
    unrenamable=yes
    profile=portraits/Kelmi.png
    type=Elvish Avenger
    canrecruit=yes
    recruit=Elvish Scout,Elvish Archer,Elvish Shaman,Mage
    team_name=elves
    user_team_name= _ "Elves"
    fog=no
    shroud=no
    team_lock=yes
    gold_lock=no
    income_lock=yes
    share_maps="yes"
    share_view="yes"
    {GOLD 175 150 125}
    {INCOME 4 2 0}
[/side]

[side]
    side=2
    controller=human
    persistent=yes
    id=Rewny
    save_id=fighters
    name= _ "Rewny"
    unrenamable=yes
    profile=portraits/Rewny.png
    type=Elvish Marshal
    canrecruit=yes
    recruit=Elvish Scout,Elvish Fighter,Elvish Shaman,Wose
    team_name=elves
    user_team_name= _ "Elves"
    fog=no
    shroud=no
    team_lock=yes
    gold_lock=no
    income_lock=yes
    share_maps="yes"
    share_view="yes"
    {GOLD 175 150 125}
    {INCOME 4 2 0}
[/side]

[side]
    type=Dwarvish Thunderguard
    id=Fiko
    name= _ "Fiko"
    side=3
    role=leader
    controller=ai
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Guardsman,Dwarvish Scout,Gryphon Rider
    [ai]
        aggression=0
        grouping=defensive
        caution=0.5
        villages_per_scout=16
        recruitment_pattern=fighter,mixed fighter,fighter,scout,fighter,mixed fighter
        passive_leader=yes
    [/ai]
    allow_player=no
    user_team_name= _ "Dwarves"
    team_name=dwarves
    disallow_observers=yes
    {INCOME 2 5 8}
    {GOLD 100 125 150}
[/side]

[side]
    type=Dwarvish Stalwart
    id=Diko
    name= _ "Diko"
    side=4
    role=leader
    controller=ai
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Guardsman,Dwarvish Scout,Gryphon Rider
    [ai]
        aggression=0
        grouping=defensive
        caution=0.5
        villages_per_scout=16
        recruitment_pattern=fighter,mixed fighter,fighter,scout,fighter,mixed fighter
        passive_leader=yes
    [/ai]
    allow_player=no
    user_team_name= _ "Dwarves"
    team_name=dwarves
    disallow_observers=yes
    {INCOME 2 5 8}
    {GOLD 150 175 200}
[/side]

[event]
    name=start

    [message]
        speaker=narrator
        image=wesnoth-icon.png
        message= _ "After killing the dwarves responsible for building the forbidden third outpost, Kelmi and Rewny entered dwarvish territory and  established a camp near two other leaders."
    [/message]
    [message]
        id=Rewny
        message= _ "You dwarves! Why have you broken the Frontier Pact?"
    [/message]
    [message]
        id=Fiko
        message= _ "Blast it! The elves are here. Let us hope they dinna' find the cave entrance... "
    [/message]
    [message]
        id=Diko
        message= _ "No! This means our brothers have failed in their task, and now the elves think we want a war..."
    [/message]
    [message]
        id=Fiko
        message= _ "Calm down, my brother, we will force them back. We must."
    [/message]
    [message]
        id=Rewny
        message= _ "Well? I will have an answer!"
    [/message]
    [message]
        id=Fiko
        message= _ "Our reasons are none o' your business, elf. Ye'll get no answers from us."
    [/message]
    [message]
        id=Rewny
        message= _ "Then YOU shall get war!"
    [/message]
    [if]
        [variable]
            name=tamora
            equals=alive
        [/variable]
        [then]
            [message]
                id=Tamora
                message= _ "If they will not give us the answers we seek, perhaps we should capture some dwarves and interrogate them."
            [/message]
            [message]
                id=Kelmi
                message= _ "Good idea. You heard her, Rewny?"
            [/message]
            [message]
                id=Rewny
                message= _ "Let it be so."
            [/message]
        [/then]
        [else]
            [message]
                id=Kelmi
                message= _ "If they will not give us the answers we seek, perhaps we should capture some dwarves and interrogate them."
            [/message]
            [message]
                id=Rewny
                message= _ "Let it be so."
            [/message]
        [/else]
    [/if]
[/event]

[event]
    name=die
    first_time_only=no

    [filter]
        role=leader
    [/filter]

    [if]
        [not]
            [have_unit]
                role=leader
            [/have_unit]
        [/not]
        [then]
            [if]
                [have_unit]
                    side=3
                [/have_unit]
                [or]
                    [have_unit]
                        side=4
                    [/have_unit]
                [/or]
                [then]
                    [message]
                        side=3,4
                        canrecruit=no
                        message= _ "Please wait, you should know one thing..."
                    [/message]
                    [message]
                        id=Kelmi
                        message= _ "Speak dwarf!"
                    [/message]
                    [message]
                        side=3,4
                        canrecruit=no
                        message= _ "We didn't want to break the Frontier Pact... We started to build an encampament in order to protect our people..."
                    [/message]
                    [message]
                        id=Rewny
                        message= _ "Protect them against what?"
                    [/message]
                    [message]
                        side=3,4
                        canrecruit=no
                        message= _ "Against... (BOOOM)...... Uaaaaaaaaaaaaargh..."
                        sound=thunderstick.ogg
                    [/message]
                    [message]
                        id=Rewny
                        message= _ "He is dead... A thundershot from inside the cave has killed him..."
                    [/message]
                    [if]
                        [variable]
                            name=tamora
                            equals=alive
                        [/variable]
                        [then]
                            [if]
                                [variable]
                                    name=elrion
                                    equals=alive
                                [/variable]
                                [then]
                                    [message]
                                        id=Kelmi
                                        message= _ "Then it is a good thing we left others alive. Tamora, interrogate them, and find out what they know."
                                    [/message]
                                    [message]
                                        id=Tamora
                                        message= _ "It seems he had begun to tell us the truth. Orcs are invading dwarvish lands. The dwarves were building the third  outpost as a place to move their noncombattants away from the fighting."
                                    [/message]
                                    [message]
                                        id=Elrion
                                        message= _ "Then why didn't they tell us?"
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "Need you ask? Despite the Frontier Pact, there have centuries of mistrust between our peoples. Is there more,  Tamora?"
                                    [/message]
                                    [message]
                                        id=Tamora
                                        message= _ "Yes. See that cave entrance yonder? The caves behind it lead under the mountains, to the lands the orcs are  invading."
                                    [/message]
                                [/then]
                                [else]
                                    [message]
                                        id=Kelmi
                                        message= _ "Then it is a good thing we left others alive. Tamora, interrogate them, and find out what they know."
                                    [/message]
                                    [message]
                                        id=Tamora
                                        message= _ "It seems he had begun to tell us the truth. Orcs are invading dwarvish lands. The dwarves were building the third outpost as a place to move their noncombattants away from the fighting."
                                    [/message]
                                    [message]
                                        id=Rewny
                                        message= _ "Then why didn't they tell us?"
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "Need you ask? Despite the Frontier Pact, there have centuries of mistrust between our peoples. Is there more,  Tamora?"
                                    [/message]
                                    [message]
                                        id=Tamora
                                        message= _ "Yes. See that cave entrance yonder? The caves behind it lead under the mountains, to the lands the orcs are  invading."
                                    [/message]
                                [/else]
                            [/if]
                        [/then]
                        [else]
                            [if]
                                [variable]
                                    name=elrion
                                    equals=alive
                                [/variable]
                                [then]
                                    [message]
                                        id=Kelmi
                                        message= _ "Then it is a good thing we left others alive. I will interrogate them, and find out what they know."
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "It seems he had begun to tell us the truth. Orcs are invading dwarvish lands. The dwarves were building the third  outpost as a place to move their noncombattants away from the fighting."
                                    [/message]
                                    [message]
                                        id=Elrion
                                        message= _ "Then why didn't they tell us?"
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "Need you ask? Despite the Frontier Pact, there have centuries of mistrust between our peoples."
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "But there is more. See that cave entrance yonder? The caves behind it lead under the mountains, to the lands the orcs  are invading."
                                    [/message]
                                [/then]
                                [else]
                                    [message]
                                        id=Kelmi
                                        message= _ "Then it is a good thing we left others alive. I will interrogate them, and find out what they know."
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "It seems he had begun to tell us the truth. Orcs are invading dwarvish lands. The dwarves were building the third  outpost as a place to move their noncombattants away from the fighting."
                                    [/message]
                                    [message]
                                        id=Rewny
                                        message= _ "Then why didn't they tell us?"
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "Need you ask? Despite the Frontier Pact, there have centuries of mistrust between our peoples."
                                    [/message]
                                    [message]
                                        id=Kelmi
                                        message= _ "But there is more. See that cave entrance yonder? The caves behind it lead under the mountains, to the lands the orcs  are invading."
                                    [/message]
                                [/else]
                            [/if]
                        [/else]
                    [/if]

                    [message]
                        id=Rewny
                        message= _ "Whoever is in those caves tried to stop us from learning the truth. I am not convinced we have all of it, even now. If the  dwarves are under attack by the orcs, why would they risk war with us as well?"
                    [/message]
                    [message]
                        id=Kelmi
                        message= _ "Then we must go on. Onward, into the caves!"
                    [/message]
                    [endlevel]
                        result=victory
                        bonus=yes
                        {NEW_GOLD_CARRYOVER 40}
                    [/endlevel]
                [/then]
                [else]
                    [message]
                        id=Kelmi
                        message= _ "Oh no! We are lost. We should have kept at least one dwarf alive to interrogate him."
                    [/message]
                    [message]
                        id=Rewny
                        message= _ "Indeed we are, now we will never learn what was happening."
                    [/message]
                    [endlevel]
                        result=defeat
                    [/endlevel]
                [/else]
            [/if]
        [/then]
    [/if]
[/event]

#ifdef MULTIPLAYER
[/multiplayer]
#else
[/scenario]
#endif
